:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #f6f6f6;
    background: linear-gradient(135deg, #2f2f2f 0%, #1a1a1a 50%, #000000 100%);
    background-attachment: fixed;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg, #2f2f2f 0%, #1a1a1a 50%, #000000 100%);
    background-attachment: fixed;
    padding: 20px;
    border-radius: 15px;
}

.flex-row {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.column {
    padding: 20px;
}

.sidebar {
    background-color: #1a1a1a;
    border-right: 1px solid #555;
    width: 250px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

.content {
    background-color: #1a1a1a;
    flex: 1;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    background-color: #2f2f2f;
    color: #f6f6f6;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.input-output-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input-text {
    flex: 1;
    margin-right: 10px;
    padding: 20px;
}

.output-text {
    flex: 1;
    margin-left: 10px;
    background-color: #3f3f3f;
    color: #f6f6f6;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 20px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.arrow-icon {
    color: #f6f6f6;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.tab {
    padding: 10px;
    margin: 5px 0;
    background-color: #4e4e4e;
    color: #f6f6f6;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.tab.active {
    background-color: #6e6e6e;
}

.tab:hover {
    background-color: #6e6e6e;
}

.row {
    display: flex;
    justify-content: start;
}

a {
    font-weight: 500;
    color: #d4af37;
    text-decoration: inherit;
}

a:hover {
    color: #c49b2e;
}

h1 {
    text-align: center;
}

input,
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #f6f6f6;
    background-color: #3f3f3f;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    cursor: pointer;
}

button:hover {
    border-color: #d4af37;
}

button:active {
    border-color: #d4af37;
    background-color: #555;
}

input,
button {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        color: #f6f6f6;
        background: linear-gradient(
            135deg,
            #2f2f2f 0%,
            #1a1a1a 50%,
            #000000 100%
        );
        background-attachment: fixed;
    }

    a:hover {
        color: #c49b2e;
    }

    input,
    button {
        color: #ffffff;
        background-color: #0f0f0f98;
    }

    button:active {
        background-color: #0f0f0f69;
    }
}

.fade-enter {
    opacity: 0;
    transform: translateY(-20px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition:
        opacity 0.5s,
        transform 0.5s;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.5s,
        transform 0.5s;
}

.shift-selector {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.shift-selector label {
    font-size: 1em;
    color: #f6f6f6;
}

.shift-selector select {
    padding: 5px;
    border-radius: 5px;
    background-color: #3f3f3f;
    color: #f6f6f6;
    border: 1px solid #555;
}

.rails-selector {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rails-selector label {
    font-size: 1em;
    color: #f6f6f6;
}

.rails-selector select {
    padding: 5px;
    border-radius: 5px;
    background-color: #3f3f3f;
    color: #f6f6f6;
    border: 1px solid #555;
}
